* {
    margin: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header a {
    text-decoration: none;
    font-size: 22px;
    color: #d703fc;
    font-weight: 500;
}

header p {
    font-size: 22px;
}

.container {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

#instructions p {
    margin-top: 20px;
}

#startQuiz {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #89229c;
    color: #fff;
}

.hide {
    display: none;
}

.visible {
    display:inherit;
}

.question-container{
    width:max-content;

}

.questionTitle {
    padding-bottom: 10px;
}
.choices-list {
    list-style: none;
    
}

.list-btn {
    background-color: #89229c;
    color:#fff;
    font-size: 20px;
    padding: 5px;
    
    
}