* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.scores-btn {
    text-decoration: none;
    font-size: 22px;
    color: #d703fc;
    font-weight: 500;
    background-color: #fff;
    border:none;
}

header p {
    font-size: 22px;
}

.container {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    font-size: 18px;
}

#instructions p {
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 18px;
    background-color: #89229c;
    color: #fff;
    width:fit-content;
    pointer-events: ;
}

.btn:hover {
    background-color: #d703fc;
    cursor: pointer;
}


.hide {
    display: none;
}

.visible {
    display:inherit;
}



.questionTitle {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: left;
    
}

.choices {
    list-style: none;
}

.btn {
    background-color: #89229c;
    border-radius: 5px;
    color:#fff;
    font-size: 20px; 
    margin: 5px;
    padding: 5px; 

}

.feedback{
    color: darkgray;
    font-style: italic;
    font-size: 30px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    
}